<a href="https://colab.research.google.com/github/LuchoValr/Semillero/blob/main/Proyecto_semillero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
#Pais, tipo de relacion, año y valor

##Exportaciones por pais

In [8]:
ex_p = pd.read_table('https://raw.githubusercontent.com/LuchoValr/Semillero/main/Datos/exportaciones%20por%20pais.txt')

In [59]:
exp_2 = ex_p.rename(columns={'Importadores':'Paises','Valor exportado en 2001':'2001','Valor exportado en 2002':'2002','Valor exportado en 2003':'2003','Valor exportado en 2004':'2004','Valor exportado en 2005':'2005','Valor exportado en 2006':'2006','Valor exportado en 2007':'2007','Valor exportado en 2008':'2008','Valor exportado en 2009':'2009','Valor exportado en 2010':'2010','Valor exportado en 2011':'2011','Valor exportado en 2012':'2012','Valor exportado en 2013':'2013','Valor exportado en 2014':'2014','Valor exportado en 2015':'2015','Valor exportado en 2016':'2016','Valor exportado en 2017':'2017','Valor exportado en 2018':'2018','Valor exportado en 2019':'2019','Valor exportado en 2020':'2020'})
exp_21=exp_2.insert(1, "Relacion", 'Importadores', allow_duplicates=False)
exp_3=exp_2.drop(['Unnamed: 21'],axis=1)
exp_4=pd.melt(exp_3, id_vars=['Paises','Relacion'], value_vars=['2001', '2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']).reset_index()
exp_5=exp_4.drop(['index'],axis=1)
exp_5

                         Paises      Relacion variable     value
0                         Mundo  Importadores     2001  12301486
1     Estados Unidos de América  Importadores     2001   5344533
2                         China  Importadores     2001     19907
3                        Panamá  Importadores     2001    265163
4                       Ecuador  Importadores     2001    699929
...                         ...           ...      ...       ...
4555                Timor-Leste  Importadores     2020         0
4556                 Seychelles  Importadores     2020         0
4557      Sudán (antes de 2012)  Importadores     2020         0
4558                 Uzbekistán  Importadores     2020         0
4559                      Samoa  Importadores     2020         0

[4560 rows x 4 columns]

##Importaciones por pais

In [17]:
im_p = pd.read_table('https://raw.githubusercontent.com/LuchoValr/Semillero/main/Datos/importaciones%20por%20pais.txt')
im_p2=im_p.rename(columns={'Valor importado en 2001':'2001','Valor importado en 2002':'2002','Valor importado en 2003':'2003','Valor importado en 2004':'2004','Valor importado en 2005':'2005','Valor importado en 2006':'2006','Valor importado en 2007':'2007','Valor importado en 2008':'2008','Valor importado en 2009':'2009','Valor importado en 2010':'2010','Valor importado en 2011':'2011','Valor importado en 2012':'2012','Valor importado en 2013':'2013','Valor importado en 2014':'2014','Valor importado en 2015':'2015','Valor importado en 2016':'2016','Valor importado en 2017':'2017','Valor importado en 2018':'2018','Valor importado en 2019':'2019','Valor importado en 2020':'2020'})

In [18]:
pais_im = im_p2.filter(['Exportadores']).reset_index()
pais_im['Relacion']='Exportadores'
pais_im

     index               Exportadores      Relacion
0        0                      Mundo  Exportadores
1        1  Estados Unidos de América  Exportadores
2        2                      China  Exportadores
3        3                     México  Exportadores
4        4                     Brasil  Exportadores
..     ...                        ...           ...
222    222       Islas Turks y Caicos  Exportadores
223    223               Burkina Faso  Exportadores
224    224                      Samoa  Exportadores
225    225                      Yemen  Exportadores
226    226                     Zambia  Exportadores

[227 rows x 3 columns]

##Filtrando paises